@mixin textRegular {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.465rem;
}

$dot-size: 0.5rem;
$margin-title: 0.75rem;

.feature {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .dot {
    width: $dot-size;
    height: $dot-size;
    border-radius: 9999px;
    background-color: var(--white-I);
  }

  > span {
    @include textRegular;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    color: var(--dark-II);
    margin-left: calc($dot-size + $margin-title);
  }
}

.groupTitle {
  display: flex;
  align-items: center;

  > p {
    @include textRegular;
    font-family: "Roboto", sans-serif;
    color: var(--white-I);
    margin-left: $margin-title;
  }
}
