.headerContainer {
  display: flex;
  align-items: center;
  min-height: 5rem;
  padding: 0 1.875rem;
  background-color: var(--transparent);

  > div {
    display: flex;
    flex: 1;
  }
}

.headerRight {
  display: flex;
  align-items: center;

  .connectButton {
    background-color: var(--red-I);
    min-height: 1.875rem;
    padding: 0 1.6875rem;
    border-radius: 9999px;
    min-width: 9.8125rem;
    margin-right: 1rem;

    font-family: "DM Sans";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1394rem;
    color: var(--white-I);
  }
}

.iconWrapper {
  width: 1.9375rem;
  height: 1.9375rem;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  background-color: var(--transparent);
}
