@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=DM+Sans:wght@400;500;700&display=swap");

:root {
  color-scheme: light dark;
  --transparent: transparent;
  --dark-I: #212428;
  --dark-II: #68676e;
  --dark-III: #1c1f22;
  --white-I: #e5e5e5;
  --white-II: #eeeeee;
  --red-I: #ff343f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--dark-I);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
