@mixin textRegular {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.465rem;
}

.error {
  @include textRegular;
  color: var(--red-I) !important;
  font-size: 0.625rem !important;
}
