@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans&display=swap");

:root {
  --light-background: #fcfcfd;
  --dark-background: #1e1e1e;
  --white-I: #eaeaea;
  --white-II: #eae9f0;
  --black-I: #262626;
  --black-II: #2c2646;
  --gray-I: #908ba6;
  --gray-II: #aeabc2;
  --red-I: #ff0000;
  --transparent: transparent;

  --navbar-height: 4rem;

  --expense-primary: #f46040;
  --expense-secondary: #56bada;
  --expense-tertiary: #6347eb;
}

body {
  background-color: var(--light-background);
}

button {
  cursor: pointer;
}
